version: '3.8'

services:
  app:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/ecommerce_db
      REDIS_HOST: redis

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always

  worker:
    build: .
    command: celery -A main.celery_app worker -l info
    volumes:
      - .:/code
    depends_on:
      - app
      - redis
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/ecommerce_db
      REDIS_HOST: redis

volumes:
  postgres_data: